blinker==1.9.0
certifi==2026.1.4
click==8.3.1
colorama==0.4.6
distlib==0.4.0
dotenv==0.9.9
filelock==3.20.3
Flask==3.1.2
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
greenlet==3.3.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==25.0
pipenv==2026.0.3
pipfile==0.0.2
platformdirs==4.5.1
python-dotenv==1.2.1
setuptools==80.9.0
SQLAlchemy==2.0.45
toml==0.10.2
typing_extensions==4.15.0
virtualenv==20.36.1
watchdog==6.0.0
Werkzeug==3.1.5
WTForms==3.2.1
